body {
  padding: 0;
  font-family: Relative,sans-serif;
}
::selection {color: #fff; background: #000;}
.bg {
  background: #F1F0EE;
}
.bg-grey {
  background: #E4E2DF;
}
.bg-pseudoblack {
  background: #161616;
}
.text-pseudoblack {
  color: #161616;
}
.border-pseudoblack {
  border-color: #161616 !important;
}
.shadow-custom {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.btn {
  @apply
    border border-gray-900 rounded-6px outline-none font-500
     px-4 py-1 text-14px transition-all
    hover:(shadow-md drop-shadow-md)
    focus:(shadow outline-none);
}

.btn.small {
  @apply px-12px py-1 text-sm;
}

.dragging {
  -webkit-app-region: drag;
}

.non-dragging {
  -webkit-app-region: no-drag;
}

.overflow-overlay {
  overflow: auto;
  overflow: overlay;
}

.overflow-y-overlay {
  overflow-y: auto;
  overflow-y: overlay;
}

.overflow-x-overlay {
  overflow-x: auto;
  overflow-x: overlay;
}

/* Scrollbar */
* {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: 6px;
  scrollbar-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

*:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 3px;
}

/* Tootip */
.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  padding: 5px 8px;
  top: 135%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  @apply whitespace-nowrap;
}

@media (hover: hover) {
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.icons-item svg {
  fill: currentColor;
}

@font-face {
  font-family: 'Relative';
  src: url('@/fonts/Relative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('@/fonts/Relative-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('@/fonts/Relative-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}