body {
  padding: 0;
  font-family: Relative,sans-serif;
}
::selection {color: #fff; background: #000;}
.bg {
  background: #F1F0EE;
}
.bg-grey {
  background: #E4E2DF;
}
.bg-pseudoblack {
  background: #161616;
}
.text-pseudoblack {
  color: #161616;
}
.border-pseudoblack {
  border-color: #161616 !important;
}
.shadow-custom {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.btn {
  @apply
    border border-gray-900 rounded-6px outline-none font-500
     px-4 py-1 text-14px transition-all
    hover:(shadow-md drop-shadow-md)
    focus:(shadow outline-none);
  --un-border-opacity: .15;
}

.btn.small {
  @apply px-12px py-1 text-sm;
  --un-border-opacity: .15;
}

.dragging {
  -webkit-app-region: drag;
}

.non-dragging {
  -webkit-app-region: no-drag;
}

.overflow-overlay {
  overflow: auto;
  overflow: overlay;
}

.overflow-y-overlay {
  overflow-y: auto;
  overflow-y: overlay;
}

.overflow-x-overlay {
  overflow-x: auto;
  overflow-x: overlay;
}

/* Scrollbar */
* {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: 6px;
  scrollbar-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

*:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 3px;
}

/* Tootip */
.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  padding: 5px 8px;
  top: 135%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  @apply whitespace-nowrap;
}

@media (hover: hover) {
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.icons-item svg {
  fill: currentColor;
}

@font-face {
  font-family: 'Relative';
  src: url('@/fonts/Relative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('@/fonts/Relative-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('@/fonts/Relative-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.ri-footer-cta_component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 680px;
    margin: 32px auto;
    padding: 12px 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #e4e2df
}

.ri-footer-cta_rl-symbol {
    margin-right: 16px
}

.ri-footer-cta_text-wrapper {
    margin-right: 16px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ri-footer-cta_text-medium {
    font-size: 14px;
    font-weight: 500
}

.ri-footer-cta_text-small {
    color: rgba(22, 22, 22, .65);
    font-size: 13px;
    font-weight: 400
}

.r-footer-cta_button {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.25rem;
    min-height: 2.25rem;
    padding: .5rem 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
    background-color: transparent;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    color: #161616;
    line-height: 1;
    font-weight: 500;
    text-decoration: none
}

.r-footer-cta_button:hover {
    background-color: #e4e2df
}

.r-footer-cta_button.invert-colors {
    color: #fff
}

.r-footer-cta_button.hover2:hover {
    background-color: #d8d5d1
}

.r-footer-cta_button.hover2.remove-saved {
    position: relative;
    cursor: pointer
}

.r-footer-cta_button.button-red {
    border-color: #df3434;
    color: #df3434
}

.r-footer-cta_button.button-red:hover {
    background-color: rgba(255, 72, 72, .05)
}

.r-footer-cta_button.notification-popup_skip-button {
    margin-top: .5rem;
    border-color: transparent;
    color: rgba(22, 22, 22, .65)
}

.r-footer-cta_button.hover3:hover,
.r-footer-cta_button.notification-popup_skip-button:hover {
    background-color: #f1f0ee
}

.r-footer-cta_button.auto-height {
    height: auto
}

.r-footer-cta_button.auto-height.hide {
    display: none
}

.r-footer-cta_button.auto-height.hl-reset-all-components {
    background-color: #f1f0ee
}

.r-footer-cta_button.upload-thumbnail {
    width: 88px
}

.r-footer-cta_button.upload-thumbnail:hover {
    background-color: #f1f0ee
}

.r-footer-cta_button.hl-new-folder-button.hide {
    display: none
}
